


@media only screen and (max-width: 768px) {

.game_img {
    background-image: url("../img/FIN_picture/media_query/responsive_768px_game.svg");
   height: 50%;
     }
.game__title-flex {
  display: none;
}
  }


/* zobrazeni vetsi nez 768px */

.game_img {
    display: none;
  }

.game {
  padding-top: 100px;
}
.game__title-flex {
  display: flex;
  padding: 50px;
}
.game__title-flex > .bracket {
  margin-right: 20px;
  font-size: 100px;
  color: #aa236d;
}
