

/* zobrazení hry pouze pro šířky nad 768px */
@media only screen and (max-width: 768px) {
  .game__title-flex {
    display: none;
  }

.game_img {
  background-image: url("../img/FIN_picture/media_query/responsive_768px_game.svg");
   }
  
}


.game_img{
  display: none;
  }

.game {
  padding-top: 100px;
}
.game__title-flex {
  display: flex;
  padding: 50px;
}
.game__title-flex > .bracket {
  margin-right: 20px;
  font-size: 100px;
  color: #aa236d;
}
