/* Home style.css */
.home {
  background-color: #fdff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
}
.title__img {
  width: 80%;
}
.title {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__heading {
  padding-top: 30px;
  font-size: 30px;
  color: #0d0638;
  font-weight: 900;
}
.header__btn-display {
  display: none;
}

@media only screen and (min-width: 576px) {
  .title__heading {
    font-size: 30px;
  }
  .title__img {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .header__btn-display {
    display: block;
  }
  .title__img {
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .home {
    flex-direction: row;
    min-height: 100vh;
  }
  .title__img {
    width: 50%;
  }
  .title {
    flex: 1 1 50%;
  }
  .title__heading {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .title__heading {
    font-size: 55px;
  }
}
