/* Home style.css */
.home {
  background-color: #fdff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
}
.title__img {
  width: 80%;
}
.title {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__heading {
  font-size: 25px;
  color: #0d0638;
  font-weight: 900;
}

@keyframes btn-animation {
  to {
    transform: scale(1.1);
  }
}
.btn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.btn:hover,
.btn:focus,
.btn:active {
  animation-name: btn-animation;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media only screen and (min-width: 576px) {
  .title__heading {
    font-size: 30px;
  }
  .title__img {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .header__btn-display {
    display: block;
  }
  .title__img {
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .home {
    flex-direction: row;
    min-height: 100vh;
  }
  .title__img {
    width: 50%;
  }
  .title {
    flex: 1 1 50%;
  }
  .title__heading {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .title__heading {
    font-size: 55px;
  }
}
