/* game 2 - frames (borders) */
.game2__pictures {
  width: 100%;
  height: 400px;
  padding-top: 200px;
  background-image: url('../../img/FIN_picture/frame/fin/background.svg');
  height: 60vh;
  position: relative;
  background-size: cover;
  background-position-x: center;
}
.game__quest2 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.drag__game2 {
  color: #0d0638;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  margin: 20px;
}
.game2__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.picture1 {
  width: 100px;
  position: absolute;
  left: 50px;
  top: 60px;
}
.picture2 {
  width: 200px;
  position: absolute;
  left: 300px;
  top: 150px;
}
.picture3 {
  width: 150px;
  position: absolute;
  right: 100px;
  top: 100px;
}
.dotted {
  border: 10px dotted #aa236d;
}
.dashed {
  border: 10px dashed #aa236d;
}
.solid {
  border: 10px solid #aa236d;
}
