.links {
  padding-top: 100px;
}
.links__text {
  width: 50%;
  line-height: 30px;
}
.links__title-flex {
  display: flex;
  padding: 50px;
}
.links__title-flex > .bracket {
  margin-right: 20px;
  font-size: 200px;
  color: #aa236d;
}
.links__list-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  line-height: 30px;
}
.links__lists {
  margin-bottom: 100px;
}
.links__list {
  display: flex;
  flex-direction: column;
}
.links__list a {
  color: #aa236d;
}
.links__img {
  width: 80%;
  margin: 30px;
}

.icon_link_out {
  display: inline-block;
  margin: 0px 8px;
  width: 14px;
  height: auto;
}

@media only screen and (min-width: 992px) {
  .links__list-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .links__img {
    margin: 30px;
    width: 40%;
  }
  .links__lists {
    width: 40%;
  }
}
