/* game 3 - flex (justify-content) */
.game3__background {
  width: 100%;
  height: 400px;
  background-image: url('../../img/FIN_picture/position/fin_unicorn/landscape.svg');
  background-size: cover;
  background-position-x: center;
  height: 70vh;
}
.game__quest3 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.game3__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.unicorn {
  width: 100px;
}
.drag__game3 {
  min-width: fit-content;
  background-color: #aa236d;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: 700;
  margin: 20px;
}
.left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}
