/* WIKI HEADER */
.wiki {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
.wiki__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.wiki__title-flex {
  display: flex;
}

.bracket {
  font-family: 'Roboto', sans-serif;
  font-size: 160px;
  color: #aa236d;
}

.wiki__title-bracket-flex {
  display: flex;
  flex-direction: column;
}
.wiki__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font: 30px;
}
.wiki__title-text {
  font-family: 'Roboto', sans-serif;
  font: 16px;
}
.wiki__sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wiki__section {
  padding: 70px;
}

.wiki_section_subHeader {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 992px) {
  .wiki {
    padding: 50px;
  }

  .wiki__sections {
    flex-direction: row;
  }
}
.wiki__section {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 20px;
  background-color: rgba(196, 196, 196, 0.15);
}

.wiki__section-header {
  color: #aa236d;
}

.wiki__section-text {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 30px;
  padding: 10 20;
}

.title__img {
  min-width: 400px;
}
