.about__main {
  padding-top: 20px;
}
.about__title-flex {
  display: flex;
  padding: 20px;
}
.about__title-flex > .bracket {
  margin-right: 20px;
  font-size: 200px;
  color: #aa236d;
}
.about__text {
  font-size: 14px;
}
.about__columns-flex {
  display: flex;
  flex-direction: column;
}
.about__column {
  background-color: rgba(196, 196, 196, 0.15);
  padding: 20px;
  margin: 20px;
  line-height: 30px;
}
.about__column > p {
  line-height: 30px;
}
.about__column > h2 {
  font-weight: 700;
  font-size: 24px;
}
@media only screen and (min-width: 576px) {
  .about__title-flex > .bracket {
    margin-right: 20px;
    font-size: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .about__columns-flex {
    display: flex;
    flex-direction: row;
  }
  .about__column {
    flex: 1 1 25%;
    margin: 20px;
  }
  .about__text {
    font-size: 14px;
    line-height: 30px;
  }
}
