.certificate__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cert__input-box {
  background-color: rgba(196, 196, 196, 0.3);
  padding: 20px;
  display: flex;
  align-items: center;
}
.cert__label {
  color: #aa236d;
  font-weight: 700;
}
.cert__input {
  border: 2px solid #aa236d;
  margin: 20px;
}
.cert__btn {
  padding: 10px;
  background-color: #aa236d;
  color: white;
  font-weight: 700;
  border: 1px solid #aa236d;
  border-radius: 5px;
}
