/* WIKI HEADER */
.wiki {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
.wiki__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.wiki__title-flex {
  display: flex;
}

.bracket {
  font-family: 'Roboto', sans-serif;
  font-size: 200px;
  color: #aa236d;
}

.wiki__title-bracket-flex {
  display: flex;
  flex-direction: column;
}
.wiki__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font: 30px;
  padding: 0;
}
.wiki__title-text {
  font-family: 'Roboto', sans-serif;
  font: 16px;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  .wiki {
    padding: 50px;
  }
}
