/* WIKI HEADER */
.wiki {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wiki__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.wiki__title-flex {
  display: flex;
  padding: 30px;
}
.wiki__title-bracket-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wiki__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font: 30px;
  padding: 0;
}
.wiki__title-text {
  font-family: 'Roboto', sans-serif;
  font: 16px;
  padding: 0;
}
.wiki__vs-link {
  padding: 0 5px;
  color: #aa236d;
  font-weight: 700;
}
@media only screen and (min-width: 992px) {
  .wiki {
    padding: 100px 50px 50px 50px;
  }
}
