.footer {
  background-color: #aa236d;
  padding-top: 20px;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}
.footer-opened {
  justify-content: center;
  padding: 10px;
  color: white;
  overflow: hidden;
  height: 50px;
}
.footer-closed {
  display: none;
}
.footer__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon_footer {
  padding: 10px;

}
.footer__href {
  font-size: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 5px;
  flex-grow: 4;
}
