.footer {
  background-color: #aa236d;
  padding: 10px;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}
.footer-opened {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  overflow: hidden;
  height: 50px;
}
.footer-closed {
  display: none;
}
