/* game 1 - background color */
.game__quest1 {
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.game__quest1-text {
  display: flex;
  flex-direction: column;
}
.quest-nr {
  font-weight: 700;
  color: #aa236d;
}
.game1__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.drag__game1 {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin: 20px;
}
.blue {
  background-color: #0d0638;
}
.pink {
  background-color: #aa236d;
}
.yellow {
  background-color: #fdff00;
  color: #0d0638;
}
.image {
  width: 100%;
}
.game1__background {
  width: 100%;
  margin: auto;
}
