/* game 1 - background color */
.game__quest1 {
  display: flex;
  justify-content: center;
}
.game__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.game__container-options {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.drag__game1 {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin: 20px;
}
.blue {
  background-color: #0d0638;
}
.pink {
  background-color: #aa236d;
}
.yellow {
  background-color: #fdff00;
  color: black;
}
.image {
  width: 90%;
}
