/* WIKI content section */
.wiki__sections {
  display: flex;
  flex-direction: column;
  background-color: rgba(196, 196, 196, 0.15);
  margin: 20px;
}
.wiki__section1 {
  font-family: 'Noto Sans', cursive;
  padding: 70px;
}
.wiki__section2 {
  display: block;
}
.wiki__section1-header {
  font-family: 'Press Start 2P', sans-serif;
}
.wiki_section1_subHeader {
  font-family: 'Roboto', sans-serif;
}

.wiki__section2-border {

  border: 1.5px solid rgb(13,6,56);
  margin: 10px;
  padding: 10px;
  height: 100%;
}


.wiki__section3-border {


  margin: 10px;
  padding: 10px;
  height: 100%;


  border: 1.5px solid;
  border-image-source: linear-gradient(90deg, rgb(170,35,109), rgb(13,6,56));
  border-image-slice: 1;

}
.wiki__section-snippet {
  font-family: 'Roboto', sans-serif;
  width: 20rem;
}
.wiki__section1-header {
  color: #aa236d;
}
.wiki__section1-text {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 30px;
  padding: 10 20;
}
.title__img {
  min-width: 400px;
}
@media only screen and (min-width: 768px) {
  .wiki__section1 {
    font-size: 16px;
    padding: 20px;
  }
  .wiki__section2 {
    display: flex;
    flex-direction: row;
    min-height: fit-content;
  }
  .wiki__section2-item {
    flex: 1 1 50%;
    margin: 20px;
  }
}
.wiki__section-where {
  color: #aa236d;
  font-weight: 700;
}
